/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: --ifm-background-color;
  background: linear-gradient(90deg, #16968E 0%, #2FE4AB 100%);
}

html[data-theme='dark'] .heroBanner {
  background: linear-gradient(90deg, #192d31 0%,  #16968E 100%);
}

.heroLogo {
  width: 40%;
  padding-bottom: 2rem;
}

html[data-theme='dark'] .heroLogo {
  filter: brightness(0) saturate(100%) invert(99%) sepia(45%) saturate(979%) hue-rotate(169deg) brightness(99%) contrast(92%);
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }

  .heroLogo {
    width: 80%;
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

html[data-theme='dark'] .button {
  background-color: #d9ecf3;
}

.obolDots {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.obolDot1 {
  background-color: #2FE4AB;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  display: inline-block;
}

.obolDot2 {
  background: #3CD2DD;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  display: inline-block;
}

.obolDot3 {
  background: #8C3CDD;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  display: inline-block;
}

.obolDot4 {
  background: #DD603C;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  display: inline-block;
}