.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImg {
  height: 200px;
  width: 200px;
}

html[data-theme='dark'] .featureImg {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
