/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #61ac9f;
  --ifm-color-primary-dark: #37606b;
  --ifm-color-primary-darker: #19314b;
  --ifm-color-primary-darkest: #090909;
  --ifm-color-primary-light: #81bba3;
  --ifm-color-primary-lighter: #81bba3;
  --ifm-color-primary-lightest: #81bba3;
  --ifm-footer-background-color: #090909;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

html[data-theme='dark'] footer.footer {
  background-color: #090909;
}

html[data-theme='light'] footer.footer {
  background-color: #090909;
}

html[data-theme='dark'] .hero__title {
  color: #fff;
}

html[data-theme='dark'] .hero__subtitle {
  color: #fff;
}
